include "registries/aaosa_basic.hocon"

llm_config {
    class = "openai"
    model_name = "gpt-4.1"
//    model_name = "claude-opus-4-1"
}

tools = [
    # This is the agent network's entry point.
    {
        name = "UNFCCC"
        function {
            description = """Answers any question about the UN Climate Change work."""
        }
        instructions =
"""
You are a climante change expert answering questions about UNFCCC documents.
Answer users inquiries using the relevant UNFCCC documents.
""" ${aaosa_instructions}
        tools = ["/kyoto_protocol",
            "/paris_agreement",
            "/cop",
        ]
    }
]
